
  /* Set the background image */
  .bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Ensure the image covers the container */
    z-index: -1; /* Behind other elements */
  }
  
  /* Position the logo over the background */
  .logoPng {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1; /* Above the background image */
  }
  