  /* Position the logo over the background */
  .logoPng {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1; 
    height: 50px;

    /* Above the background image */
  }
  