

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML and body styling */
html,
body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  background-color: crimson;

  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  /* background-image: url("/images/bg1.png"); */
  background-image: url('../images/bg1.png');
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* z-index: 1; */
}


.resetContainer {
    width: 458.76px;
    height: 524.28px;
    padding: 50px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* position: absolute; */
    /* z-index: 2; */
  }

  /*  resetTitle */

  .resetTitle {
    text-align: center;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    /* margin-bottom: 20px; */
  }

  .resetTitle > h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
    /* margin-bottom: 10px; */
  }

  .resetTitle > p {
    font-size: 16px;
    color: #777;
    margin-bottom: 40px;
  }

  /* input */

  .inputContainer {
    display: flex;
    align-items: center;

    margin-bottom: 15px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 50px;

    background-color: #e5e5e5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .inputContainer label img {
    padding-left: 15px;
    /* padding: 10px 0px 10px 15px; */
    /* padding-left: 10px; */
    /* background-color: #ccc; */
  }

  .inputContainer input {
    background-color: #e5e5e5;
    border: none;
    outline: none;
    padding: 10px 15px;
    flex: 1;
    font-size: 16px;
  }

  .forgot-text {
    display: flex;
    justify-content: right;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    /* text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3); */
  }

  /* reset button */

  .resetButton {
    /* width: 358.76px; */
    width: 100%;
    height: 50px;
    /* margin: 20px 50px; */
    /* padding: 10px; */
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .resetButton:hover {
    background-color: #006fe6;
  }

  .signup-text {
    font-size: 18px;
    margin-top: 20px;
    color: gray;
    /* text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3); */
  }

  .signup-text a {
    color: #006fe6;
    text-decoration: none;
  }